html, body {
   margin:0;
   padding:0;
}
#sharemenu {
   background: #fff !important;
   min-width: 155px !important;
   padding: 0px 0 0 0;
   line-height: 16px;
   font-family: arial,helvetica,verdana,sans-serif;
   font-size: 12px;
   color: #999;
   z-index: -1 !important;
   overflow: hidden;
   min-height:100px;
}
.menu-target-item {
   display: block;
   line-height: 22px;
   padding: 0 5px 5px 5px;
   cursor:pointer;
   clear:both;
   height:16px;
   color:#434343;
}
.menu-target-item img, .menu-target-item span {
   display:block;
   float:left;
}
.menu-target-item img {
   padding:3px 5px 0 0;
}
.menu-item-selected {
   background: #424343;
   text-decoration: none !important;
   color: #fff !important;
}
.menu-options-item {
   clear:both;
   margin-top: 10px;
   border-top: 1px solid #a0a0a0;
}
#footer {
   clear:both;
   padding:5px 3px 5px 3px;
   margin-top:3px;
   border-top:1px solid #E5E5E5;
   height:12px;
   color:#424343;
}
.at_search {
   height: 24px;
   padding: 8px 5px 0;
   text-align: center;
   border-top:1px dotted #c0c0c0;
   margin-top:5px;
   display:none;
}
.at_search input {
   background: transparent url(../images/bkg-search.gif) no-repeat left center;
   border: 1px solid #ccc;
   padding: 3px;
   margin: 0;
   width: 108px;
   font-size: 11px;
   color: #999;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}
.at_search input:focus {
   border-color: #999;
   color: #464646;
}
.at_search a.at_search_x {
   display: block;
   position: absolute;
   top: 12px;
   right: 9px;
   background: url(../images/bkg-close.gif) no-repeat;
   width: 11px;
   height: 11px;
   line-height: 11px;
   text-indent: -9999px;
   overflow: hidden;
   z-index: 100;
   opacity: 0.6;
   filter:alpha(opacity=60);
}
.at_search a.at_search_x:hover {
   opacity: 1.0;
   filter:alpha(opacity=100);
}
#atlogo {
   font-size:9px;
   color:#777;
   background:url(https://s7.addthis.com/static/t00/logo88.gif) no-repeat left;
   text-align:right;
   padding-left:10px;
   float:right;
}
#options {
   background:url(../images/options.png) no-repeat;
   height:16px;
   width:100%;
   float:left;
   clear:left;
   padding-left:20px;
   margin-left:3px;
   cursor:pointer;
}
#footer:hover {
   color:#000;
   background-color: #424343;
   color: #fff !important;
}
#pubID {
   font-size:10px;
   background:#F2F2F2;
   border-bottom:1px solid #E5E5E5;
   height:12px;
   padding:5px 3px 5px 3px;
   margin-bottom:3px;
}
/* Blue Button */
.btn-bl {
 background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0.2, rgb(48,90,169)),
 color-stop(0.8, rgb(74,134,198))
 );
background-image: -moz-linear-gradient(
 center bottom,
 rgb(48,90,169) 20%,
 rgb(74,134,198) 80%
 );
border: 1px solid #115BB5;
padding: 7px 7px !important;
font-weight: bold;
line-height: 1em;
color: white;
cursor: pointer;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.btn-bl:hover {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, rgb(35,75,148)),
        color-stop(0.8, rgb(55,119,184))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(35,75,148) 20%,
        rgb(55,119,184) 80%
    );
}

/* Green Button */
.btn-grn {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, rgb(117,141,61)),
        color-stop(0.8, rgb(182,207,57))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(117,141,61) 20%,
        rgb(182,207,57) 80%
    );
    border: 1px solid #889b56;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.btn-grn:hover {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, rgb(110,132,53)),
        color-stop(0.8, rgb(171,196,47))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(110,132,53) 20%,
        rgb(171,196,47) 80%
    );
}

/* Active Button State */
button:active {
    background: #e3e3e3;
}
.btn-bl:active,
.btn-grn:active {
    position: relative;
    top: 1px;
    bottom: -1px;
}
.divShareButtons{
background-image: -webkit-gradient(
 linear,
 left bottom,
 left top,
 color-stop(0.2, rgb(0,0,0)),
 color-stop(0.8, rgb(0,0,0))
 );
background-image: -moz-linear-gradient(
 center bottom,
 rgb(0,0,0) 20%,
 rgb(0,0,0) 80%
 );
height: 20px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
height: 45px;
}

/* TWITTER QUICK SHARE
---------------------------------------------------------------- */

.atpop {
    position: relative;
    width: 304px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #ccc;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 5px 5px 10px #ccc;
    background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
}
/* Content Portion */

.atpop-content {
	position: relative;
	background-color: white;
	background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
	min-height: 80px;
	padding: 8px 0 8px 10px;
	line-height: 1.6em;
	font-family: helvetica,arial,sans-serif;
	color: black;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
}
.atpop-content .tweet-write {
    position: relative;
    min-height: 80px;
    padding-left: 58px;
    font-size: 12px;
}
.atpop-content .tweet-write .tweet-pic {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.atpop-content .tweet-write textarea {
    position: absolute;
    top: 0;
    left: 64px;
    right: 0;
    bottom: 0;
    background: transparent;
    border: none;
    padding-right: 5px;
    outline: none;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    color: #000;
    resize: none;
}

#divTwitterComment {
    position: absolute;
    top: 0;
    left: 64px;
    right: 0;
    bottom: 0;
    background: transparent;
    border: none;
    padding-right: 5px;
    outline: none;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    color: #000;
    width: 232px;
    height: 100px;
    overflow-y: scroll;
}

/* Bottom, Buttons */

.atpop-bottom {
    position: relative;
	    background-color: #323232;
	    background-image: -webkit-linear-gradient(#464646, #242424);
	    min-height: 26px;
	    padding: 8px 10px;
	    -webkit-border-bottom-right-radius: 8px;
	    -webkit-border-bottom-left-radius: 8px;
}
.atpop-bottom button {
    background-color: #323232;
    background-image: -webkit-linear-gradient(#464646, #242424);
    min-height: 26px;
    border: none;
    padding: 6px 14px;
    font-size: 11px;
    color: #fff;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 1px #2d2d2d, inset -1px -1px 1px #6b6b6b;
}
.atpop-bottom button:hover {
    background-image: -webkit-linear-gradient(#424242, #1d1d1d);
    cursor: pointer;
}
.atpop-bottom button.btn-action {
    position: absolute;
    top: 8px;
    right: 10px;
    min-width: 82px;
    background-image: -webkit-linear-gradient(#0093fb, #0d60bc);
    -webkit-box-shadow: inset 1px 1px 1px #285879, inset -1px -1px 1px #6eb0f9;
}
.atpop-bottom button.btn-action:hover {
    background-image: -webkit-linear-gradient(#159eff, #0956ab);
}
.atpop-bottom button.btn-action.disable {
    background: transparent;
    -webkit-box-shadow: inset 1px 1px 1px #2d2d2d, inset -1px -1px 1px #6b6b6b;
    color: #666;
    cursor: default;
}
.atpop-bottom button.btn-action.loading {
    text-align: center;
    cursor: default;
}
.atpop-bottom button.btn-action.loading:hover {
    background-image: -webkit-linear-gradient(#0093fb, #0d60bc);
}
.atpop-bottom button.btn-action.loading span {
    display: block;
    background: url(../images/loading.gif) no-repeat;
    width: 16px;
    height: 11px;
    margin: 0 auto;
}
.atpop-bottom button.btn-action.sent {
    background-image: -webkit-linear-gradient(#c2d51e, #809305);
    -webkit-box-shadow: inset 1px 1px 1px #75830c, inset -1px -1px 1px #ddf03c;
    cursor: default;
}

.atpop-bottom .tweet-count {
    position: absolute;
    top: 16px;
    right: 104px;
    color: #5f5e5f;
    cursor: default;
    font-family: sans-serif,arial,helvetica,verdana;
    font-size: 10px;
}
.atpop-bottom .fb-message {
    position: absolute;
    top: 16px;
    right: 138px;
    color: #5f5e5f;
    cursor: default;
    font-family: sans-serif,arial,helvetica,verdana;
    font-size: 10px;
}
.atpop-bottom .fb-message.countwarning {
	color: #d30707;
}
.atpop-bottom .tweet-count.countwarning {
    color: #d30707;
}
.addthis-iframe-fb{
	padding: 5px 5px 1px 5px;
	height: 25px;
}
.addthis-iframe-google{
	padding : 5px 5px 5px 5px;
	height: 15px;
}
.gc-bubbleDefault, .pls-container
{
   display: none !important;
}
.settings-icon{
	position: absolute;
	right: 2px;
	top: 2px;
	cursor: pointer;
}











body {
    background: #fff;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
    color: #333;
}

/* TWITTER QUICK SHARE
---------------------------------------------------------------- */

.atpop {
    position: relative;
    width: 304px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #ccc;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 5px 5px 10px #ccc;
}
.atpop:before {
    border-color: #d5d5d5 transparent;
    border-style: solid;
    border-width: 0 8px 8px;
    content: "";
    display: block;
    right: 25px;
    position: absolute;
    top: -8px;
    width: 0;
}
.atpop:after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 0 8px 8px;
    content: "";
    display: block;
    right: 25px;
    position: absolute;
    top: -7px;
    width: 0;
}

/* Content Portion */

.atpop-content {
    position: relative;
    background-color: #fff;
    background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
    min-height: 80px;
    padding: 8px 0 8px 10px;
    line-height: 1.6em;
    font-family: helvetica,arial,sans-serif;
    color: #000;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
.atpop-content .atpop-content-write {
    position: relative;
    min-height: 80px;
    padding-left: 58px;
}
.atpop-content .atpop-content-write .atpop-pic {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
.atpop-content .atpop-content-write textarea {
    position: absolute;
    top: 0;
    left: 64px;
    right: 0;
    bottom: 0;
    background: transparent;
    border: none;
    padding-right: 5px;
    outline: none;
    font-family: helvetica,arial,sans-serif;
    font-size: 12px;
    color: #000;
}

/* Share Preview */

.atpop-content-preview {
    position: relative;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding: 10px 10px 10px 64px;
    margin: 10px 10px 0 0;
    line-height: 1.2em;
    word-wrap: break-word;
    font-size: 11px;
    color: #666;
}

/* with no image, no need to leave padding for it */
.atpop-content-preview.no-scrape{
	padding-left:10px;
}

.atpop-content-preview img {
    position: absolute;
    top: 8px;
    left: 0;
    width: 48px;
    height: 48px;
    padding: 5px;
    border: none;
}
.atpop-content-preview b {
    color: #000;
}
.atpop-content-preview .atpop-pager-left {
    background: url("https://s-static.ak.facebook.com/rsrc.php/v1/yi/r/8OjNXDy3pHp.gif") no-repeat -50px -83px;
    width: 25px;
    height: 22px;
    float: left;
    cursor: default;
}
.atpop-content-preview .atpop-pager-left.active {
    background-position: 0 -83px;
    cursor: pointer;
}
.atpop-content-preview .atpop-pager-right {
    background: url("https://s-static.ak.facebook.com/rsrc.php/v1/yi/r/8OjNXDy3pHp.gif") no-repeat -75px -83px;
    width: 25px;
    height: 22px;
    float: left;
    cursor: default;
}
.atpop-content-preview .atpop-pager-right.active {
    background-position: -25px -83px;
    cursor: pointer;
}

.atpop-content-preview .atpop-pager-number {
    display: inline-block;
    margin-left: 10px;
    line-height: 22px;
    font-size: 9px;
    color: #000;
    float: left;
}
.atpop-content-preview .atpop-pager-numlabel {
    display: inline-block;
    margin-left: 10px;
    line-height: 22px;
    font-size: 9px;
    color: #999;
    float: left;
}
.atpop-content-preview .atpop-thumbnail-box {
    padding-top: 4px;
}
.atpop-content-preview .atpop-thumbnail-box label {
    font-weight: bold;
}


/* Bottom, Buttons */

.atpop-bottom {
    position: relative;
    background-color: #323232;
    background-image: -webkit-linear-gradient(#464646, #242424);
    min-height: 26px;
    padding: 8px 10px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}
.atpop-bottom button {
    background-color: #323232;
    background-image: -webkit-linear-gradient(#464646, #242424);
    min-height: 26px;
    border: none;
    padding: 6px 14px;
    font-size: 11px;
    color: #fff;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 1px #2d2d2d, inset -1px -1px 1px #6b6b6b;
}
.atpop-bottom button:hover {
    background-image: -webkit-linear-gradient(#424242, #1d1d1d);
    cursor: pointer;
}
.atpop-bottom button.btn-action {
    position: absolute;
    top: 8px;
    right: 10px;
    min-width: 82px;
    background-image: -webkit-linear-gradient(#0093fb, #0d60bc);
    -webkit-box-shadow: inset 1px 1px 1px #285879, inset -1px -1px 1px #6eb0f9;
}
.atpop-bottom button.btn-action:hover {
    background-image: -webkit-linear-gradient(#159eff, #0956ab);
}
.atpop-bottom button.btn-action.disable {
    background: transparent;
    -webkit-box-shadow: inset 1px 1px 1px #2d2d2d, inset -1px -1px 1px #6b6b6b;
    color: #666;
    cursor: default;
}
.atpop-bottom button.btn-action.loading {
    text-align: center;
    cursor: default;
}
.atpop-bottom button.btn-action.loading:hover {
    background-image: -webkit-linear-gradient(#0093fb, #0d60bc);
}
.atpop-bottom button.btn-action.loading span {
    display: block;
    background: url(../images/loading.gif) no-repeat;
    width: 16px;
    height: 11px;
    margin: 0 auto;
}
.atpop-bottom button.btn-action.sent {
    background-image: -webkit-linear-gradient(#c2d51e, #809305);
    -webkit-box-shadow: inset 1px 1px 1px #75830c, inset -1px -1px 1px #ddf03c;
    cursor: default;
}

.atpop-bottom .tweet-count {
    position: absolute;
    top: 16px;
    right: 104px;
    color: #5f5e5f;
    cursor: default;
}
.atpop-bottom .tweet-count.countwarning {
    color: #d30707;
}






