body,html {
    width: 100%;
    height: 100%;
}
body {
    background: #fff;
    margin: 0;
    padding: 0;
    font: 13px arial, helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
}
a {
    text-decoration: none;
    color: #07c;
}
a:hover {
    text-decoration: underline;
    color: #0162a7;
}
h1 {
    position: absolute;
    top: 37px;
    left: 48px;
    background: url(../images/addthis-logo.png) no-repeat;
    width: 203px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    text-indent: -9999px;
    margin: 0;
    padding: 0;
    z-index: 1;
}


/* SIDE NAV
-------------------------------------------------------------------- */

#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    right: 300px;
    bottom: 0;
    background: #232529 url(../images/sidenav-fade.png) repeat-y right;
    width: 300px;
}
#sidenav ul {
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #333;
    margin: 109px 0 0 0;
    padding: 0;
}
#sidenav ul li {
    list-style: none;
    border-top: 1px solid #333;
    border-bottom: 1px solid #2b2b2b;
    margin: 0;
    padding: 0;
}
#sidenav ul li.active {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, rgb(48,90,169)),
        color-stop(0.8, rgb(74,134,198))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(48,90,169) 20%,
        rgb(74,134,198) 80%
    );
}
#sidenav ul li.active a {
    background: url(../images/sidenav-active-arrow.png) no-repeat right center;
}
#sidenav ul li a {
    display: block;
    padding: 12px 20px;
    font-weight: normal;
    color: #fff;
}
#sidenav ul li a:hover {
    background-color: rgba(0,0,0,.10);
    text-decoration: none;
}



/* CONTENT
-------------------------------------------------------------------- */

#content {
    margin: 46px 20px 50px 350px;
    width: 640px;
    line-height: 1.5em;
}
#content h2 {
    font-family: /*"Helvetica Neue Light","Helvetica Neue",*/ Helvetica,Arial,sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
    letter-spacing: -1px;
    color: #000;
}
#content form {
    position: relative;
    width: 640px;
    min-height: 440px;
    margin-top: 40px;
}
#content p {
    margin-bottom: 20px;
}



/* CUSTOMIZE
---------------------------------------------------------------- */

.service-box {
    border: 1px solid #dfdfdf;
    width: 240px;
    float: left;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.service-box a {
    font-size: 12px;
}
.service-box-head {
    background: #f2f2f2;
    margin: 0;
    padding: 5px 20px;
    border-radius-topleft: 8px;
	border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}
.service-box-head h3 {
    margin: 0 0 6px;
    font-size: 14px;
    color: #000;
}
#add-services {
    height: 348px;
    padding: 10px 20px;
    overflow-y: auto;
}
#preferred {
    margin-right: 114px;
}
#services {
    height: 348px;
    padding: 10px 20px;
    overflow-y: auto;
}
#preferred .services {
    height: 333px;
}
#add-services-filter {
    background: #fff url(../images/bg-search.gif) no-repeat left;
    border: 1px solid #bbb;
    width: 162px;
    padding: 2px 8px 2px 28px;
    outline: none;
    box-shadow: 1px 1px 2px #EBEBEB inset;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}
#search-text:focus {
    border-color: #7bcaef;
}

#save {
    position: relative;
    padding-top: 20px;
    font-size: 10pt;
    color: #666;
}
#save button {
    padding: 5px 18px;
    margin-right: 12px;
    font-size: 14px;
}
#resetbtn {
    margin-left: 4px;
}

#addServiceBtn {
    position: absolute;
	top: 310px;
	left: 605px;
    width: 88px;
}
#removeServiceBtn {
    position: absolute;
	top: 350px;
	left: 605px;
    width: 88px;
}
#upBtn {
    position: absolute;
	top: 310px;
	left: 950px;
}
#downBtn {
    position: absolute;
	top: 350px;
	left: 950px;
}


/* BUTTONS
-------------------------------------------------------------------- */

/* Grey Button */
button, .btn-disable, input[type="button"], input[type="submit"]{
    background: #f9f9f9;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.34, rgb(227,227,227)),
        color-stop(0.84, rgb(250,250,250))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(227,227,227) 34%,
        rgb(250,250,250) 84%
    );
    border: 1px solid #ccc;
    padding: 4px 8px;
    font-size: 10pt;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
button:hover {
    border-color: #a0a0a0;
}

/* Blue Button */
.btn-bl {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, rgb(48,90,169)),
        color-stop(0.8, rgb(74,134,198))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(48,90,169) 20%,
        rgb(74,134,198) 80%
    );
    border: 1px solid #115bb5;
    padding: 10px 20px !important;
    font-weight: bold;
    line-height: 1em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.btn-bl:hover {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, rgb(35,75,148)),
        color-stop(0.8, rgb(55,119,184))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(35,75,148) 20%,
        rgb(55,119,184) 80%
    );
}

/* Green Button */
.btn-grn {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, rgb(117,141,61)),
        color-stop(0.8, rgb(182,207,57))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(117,141,61) 20%,
        rgb(182,207,57) 80%
    );
    border: 1px solid #889b56;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
button.btn-grn.loading {
    text-align: center;
    cursor: default;
}
button.btn-grn.loading span {
    display: block;
    background: url(../images/loading.gif) no-repeat;
    width: 48px;
    height: 16px;
    margin: 0 auto;
    background-position: 16px;
}
.btn-grn:hover {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.2, rgb(110,132,53)),
        color-stop(0.8, rgb(171,196,47))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(110,132,53) 20%,
        rgb(171,196,47) 80%
    );
}

/* Active Button State */
button:active {
    background: #e3e3e3;
}
.btn-bl:active,
.btn-grn:active {
    position: relative;
    top: 1px;
    bottom: -1px;
}


/* ONE-CLICK
-------------------------------------------------------------------- */

.clickitems {
    border-top: 1px solid #eee;
}
.clickitem {
    position: relative;
    height: 48px;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    cursor: default;
    background-position:27px center;
    background-repeat:no-repeat;
}
.clickitem:hover {
    background-color: #e4eefb;
}

.clickitem input[type="checkbox"]{
	margin-top:17px;
}

.clickitem.facebook {
    background-image: url(../images/facebook_icon-48.png);
}
.clickitem.twitter {
    background-image: url(../images/twitter_icon-48.png);
}
.clickitem button,
.clickitem .clickitem-msg {
    position: absolute;
    top: 18px;
    left: 83px;
}
.clickitem .clickitem-user {
    position: absolute;
    top: 28px;
    left: 193px;
    line-height: 16px;
    font-size: 12px;
}
.clickitem .clickitem-user .usericon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: -8px;
}


/* MISC
-------------------------------------------------------------------- */

.hide { display: none; }
.clear { clear: both; }

small { font-size: 10pt; }

input[type="checkbox"], label {
    margin-right: 5px;
}

/* Red Button */
.btn-red {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.23, rgb(134,0,0)),
        color-stop(0.62, rgb(240,0,8))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(134,0,0) 23%,
        rgb(240,0,8) 62%
    );
    border: 1px solid #7f0000;
    min-width: 100px;
    padding: 8px 16px;
    font-size: 10pt;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.btn-red:hover {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.23, rgb(133,0,0)),
        color-stop(0.62, rgb(212,0,7))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(133,0,0) 23%,
        rgb(212,0,7) 62%
    );
}
.btn-red:active {
    background: #800000;
}

#divError
{
	color: red;
	display: none;
	left: 141px;
	width: 150px;
	top: 25px;
	position: absolute;
}



.service-icon, .service-icon-empty {
    padding:5px 0 2px 8px;
    margin:0 2px 2px 0;
    border:1px solid #E0E0E0;
    height:20px;
    width:180px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.addthis_service_icon {
    padding-left:22px !important;
}
.service-icon-empty {
    background-color:#efefef;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.selected {
    background:none repeat scroll 0 0 #FEFFDB;
    border:1px solid #FFDDB3;
}
.clearer {
	clear:both;
	font-size:1px;
}
.savedChanges {
    -moz-border-radius:4px 4px 4px 4px;
    -webkit-border-radius:4px 4px 4px 4px;
    border-radius:4px 4px 4px 4px;
    background:none repeat scroll 0 0 #FEFFDB;
    border:1px solid #FFDDB3;
    margin:20px;
    overflow:auto;
    padding:10px;
    display:none;
}


.icon_pinterest{
	background: url('chrome-extension://__MSG_@@extension_id__/images/services/32/pinterest.png') no-repeat !important;
	background-size:16px 16px !important;
	
}